@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Tomorrow&display=swap');

:root {
  --bluegrey: #aaaacd;
  --teal: #00FFBA;
  --pink: #ff93ffc0;
  /* --purple: #5157cc; */
  --purple: #4b3c83;
  --green: #58cf9de0;
  --white: #FFF;
  --black: #000;
}

* {
  font-family: 'Roboto Mono', monospace;
}

body {
  color: var(--green);
  font-weight: bold;
  text-shadow: 1px 1px rgb(66, 66, 66);
  background-color: rgb(31, 31, 31);
}

p {
  padding: 10px;
}

ul, li {
  list-style: none;
}

@keyframes box-glow {
  from { box-shadow: inset 0 0 5px var(--white),      
    inset 10px 0 40px var(--pink),   
    inset -10px 0 40px var(--purple),  
    inset 10px 0 10px var(--pink),  
    inset -10px 0 10px var(--purple), 
    0 0 5px var(--white),            
    -10px 0 20px var(--pink),        
    10px 0 20px var(--purple); }
  to { box-shadow: inset 0 0 5px var(--bluegrey),      
    inset 10px 0 40px var(--purple),   
    inset -10px 0 40px var(--pink),  
    inset 10px 0 10px var(--purple),  
    inset -10px 0 10px var(--pink), 
    0 0 5px var(--bluegrey),            
    -10px 0 20px var(--purple),        
    10px 0 20px var(--pink); }
}

.main_content {
  max-width: 1200px;
  margin: auto;
  padding: 2em;
  z-index: 1;
  border: 2px solid var(--bluegrey);
  background-color: rgb(14, 14, 14);
  animation-name: box-glow;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.logo, .main_text {
  text-align: center;
}

.main_text {
  padding-bottom: 20px;
}

.login {
  list-style: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

@keyframes button-border {
  from {border-color: var(--green);}
  to {border-color: var(--bluegrey);}
}

.option {
  padding: 10px 20px;
  margin: 20px;
  font-family: 'Tomorrow', sans-serif;
  background-color: var(--purple);
  color: var(--green);
  text-shadow: 1px 1px var(--pink);
  text-decoration: none;
  border: 2px solid var(--green);
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  animation-name: button-border;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes cursor_blink {
  from {opacity:1;}
  to {opacity:0;}
}

.option::after, 
#loginform > button[type='submit']::after,
#createform > button[type='submit']::after {
  content: "_";
  animation-name: cursor_blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.option:hover, .btn:hover {
  transition: 400ms;
  background-color: #7ba040;
  color: var(--bluegrey);
  text-shadow: 1px 1px var(--purple);
}

.center {
  justify-content: center;
}

.btn {
  padding: 10px 20px;
  margin: 20px;
  background-color: var(--purple);
  color: var(--green);
  font-family: 'Tomorrow', sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px var(--pink);
  text-decoration: none;
  border: 2px solid var(--green);
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  animation-name: button-border;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* display 'flex' to reveal, not block.*/
.lightbox {
  display: none;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: rgb(14, 14, 14, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.modal {
  z-index: 6;
  width: 400px;
  height: 300px;
  border: 1px solid var(--green);
  border-radius: 20px;
  color: var(--green);
  background-color: rgb(14, 14, 14);
  padding: 20px;
  position: relative;
}

.redalert {
  color: #aa0000;
  background-color: rgba(255,0,0,0.5);
}

.closebutton {
  position: absolute;
  top: 20px;
  right: 20px;
}

.closebutton > a, .modal > a {
  font-weight: bold;
  text-decoration: none;
  color: var(--purple);
}

.closebutton > a:hover , .modal > a:hover {
  color: #aea833;
}

.modal .victory {
  display:none;
}
.modal .runcomplete {
  display:none;
}

.input_form {
  display: block;
  text-align: center;
}

input {
  background-color: rgb(14, 14, 14);
  border: none;
  border-bottom: 2px solid var(--green);
  padding: 10px;
  color: var(--white);
}

input:focus {
  border-color: var(--pink);
  outline: none;
}

.main_menu, #reward_items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  list-style: none;
}

#server_options {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 1200px) {
  .main_content {
    max-width: 900px;
  }
}

@media only screen and (max-width: 900px) {
  .main_content {
    max-width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .main_content {
    max-width: 100%;
  }
}